body {
    background-color: black;
    font-family: "Mona Sans", sans-serif;
    color: white;
}

a {
    color: lightpink;
}

/* Dialog */

dialog {
    background-color: black;
    color: white;
    width: 420px;
    max-width: 80%;
    height: 360px;
    max-height: 80%;
    border: lightgray 2px dotted;
    border-radius: 8px;
}

/* Button */

button, input[type="submit"] {
    color: white;
    background-color: black;
    border: lightgray 2px solid;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.gap-8 {
    gap: 8px;
}

.gap-16 {
    gap: 16px;
}

.gap-32 {
    gap: 16px;
}

figure {
    max-width: 92px;
}

figure > img {
    max-height: 138px;
    height: 138px;
    max-width: 92px;
}

img {
    overflow: hidden;
    text-overflow: ellipsis;
}

input[type="search"] {
    height: 36px;
    min-width: 320px;
    font-size: 1em;
}

/* Menu tab */

.menu-tab {
    background: transparent;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    border: none;
    color: white;
}

.menu-tab:hover {
    cursor: pointer;
}

.menu-tab.active {
    text-decoration: underline;
}

.search-result-item {
    cursor: pointer;
}

.search-result-item:hover {
    background-color: #424242;
}

.search-result-item > img.poster {
    min-width: 46px;
    width: 48px;
    height: 72px;
}

.movie-page > img.poster {
    min-width: 240px;
    width: 240px;
    height: 360px;
}

.movie-details {
    min-width: 360px;
}

.movie-details > p {
    max-width: 480px;
}

.pane {
    position: absolute;
    border: lightgray 2px dotted;
    max-height: 82%;
    width: 480px;
    z-index: 32;
    overflow-y: scroll;
    background-color: black;
}
