.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gap-8 {
    gap: 8px;
}

.gap-16 {
    gap: 16px;
}

.gap-32 {
    gap: 16px;
}

img {
    overflow: hidden;
    text-overflow: ellipsis;
}

input[type="search"] {
    height: 32px;
    min-width: 256px;
}

.search-result-item {
    cursor: pointer;
}

.search-result-item:hover {
    background-color: #f0f0f0;
}

.search-result-item > img.poster {
    width: 46px;
    height: 69px;
}

.movie-page > img.poster {
    min-width: 220px;
    max-width: 440px;
    min-height: 330px;
    max-height: 660px;
}

#search-results {
    position: absolute;
    max-height: 420px;
    width: 480px;
    z-index: 32;
    overflow-y: scroll;
    background-color: white;
}
